{% extends 'base.html' %}
{% block noauth %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">I LIKE 김치찌개</h1>
            <p class="col-md-8 fs-4">된장찌개파는 뒤로가기</p>
            <a href="{% url 'acc:login' %}"><button class="btn btn-dark btn-lg" type="button" style="font-weight: bold;">LOGIN</button></a>
        </div>
    </div>
{% endblock %}

{% block con %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">I LIKE 김치찌개</h1>
            <p class="col-md-8 fs-4"><b>{{user}}</b>!! HAVE A NICE DAY 🎈</p>
            <a href="{% url 'acc:login' %}"><button class="btn btn-dark btn-lg" type="button" style="font-weight: bold;">LOGIN</button></a>
        </div>
    </div>
{% endblock %}