{% extends 'base.html' %}
{% block con %}
    <div class="container mt-5 mb-5">
        <h1><b>{{b.subject}}</b></h1>

        <div class="row mt-5">
            <div class="col-lg-8">
                <textarea class="form-control" style="height: 350px;" disabled>{{ b.content }}</textarea>
            </div>
            <div class="col-lg-4" style="margin: auto;">
                <img src="{{ b.writer.getpic }}" width="100%">
                <div class="text-center mt-4">
                    <h4>written by <b>{{ b.writer }}</b></h4>
                </div>
                <div class="text-end mt-3">
                    {{ b.pubdate | date:'Y년 n월 j일 H:i' }}
                </div>
            </div>
        </div>


        <div class="mt-3 text-end">
            <a href="{% url 'board:index' %}" class="btn btn-dark">메인</a>
            {% if user == b.writer %}
                <a href="{% url 'board:update' b.id %}"><button class="btn btn-secondary">수정</button></a>
                <a href="{% url 'board:delete' b.id %}"><button class="btn btn-danger">삭제</button></a>
            {% endif %}
        </div>

        <div class="text-end mt-3">
            {% if user in b.likey.all %}
                <a href="{% url 'board:unlikey' b.id %}" class="btn btn-danger">좋아요취소</a>
            {% else %}
                <a href="{% url 'board:likey' b.id %}" class="btn btn-primary">좋아요</a>
            {% endif %}
        </div>


        <hr>

        <form method="post" action="{% url 'board:creply' b.id %}">
            {% csrf_token %}
            <div class="row mt-5 mb-5">
                <div class="col-lg-10">
                    <input type="text" name="com" class="form-control">
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-dark" style="width: 100%;">댓글작성</button>
                </div>
            </div>
        </form>


        
        {% if rset %}
            <div class="row text-center">
                {% for i in rset %}
                    <div class="col-lg-4 mt-5">
                        <img src="{{ i.replyer.getpic }}" width="70%">
                        <div class="mt-2">
                            <b>{{ i.replyer }}</b>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-5">
                        <textarea class="form-control" style="height: 100px;" disabled>{{ i.comment }}</textarea>
                        <div class="text-end mt-3">
                            {% if i.replyer == user %}
                                <a href="{% url 'board:dreply' b.id i.id %}" class="btn btn-danger">삭제</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h4>첫번째 댓글을 달아주세요 😂</h4>
        {% endif %}

        




    </div>








    
{% endblock %}